html, body {
    height: 100%;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 50px;
}

.title {
    font-size: 4em;
}

.hero {
    background-image: url(../img/wallhaven-315467.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 100%;
    /*opacity: .5;*/
}

.input-group {
    width: 35%;
    margin: 0 auto;
}

.lead {
    color: #ffffff;
}

.results {
    text-align: center;
}

.resultText {
    /*background-color: #e3e3e3;*/
    background-color: #1c1c1c;
    color: white;
    text-align: left;
    opacity: 1;
}

.well {
    width: 55%;
    margin: 0 auto;
    opacity: .8;
}

.hidden {
    display: none;
}