<div>
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="">MTG Card App</a>
        <ul class="nav navmenu-nav">
            <li><a href="#/profile">Your Profile</a></li>
            <li><a href="#/card">Card Search</a></li>
            <li><a href="#/deck">Deck Builder</a></li>
            <li><a ng-controller="logoutController" href="" ng-click="logout()">Log Out</a></li>
        </ul>
    </nav>
    <div class="burgerWrapper">
        <button type="button" class="hamburger" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            &#9776
        </button>
    </div>
</div>
<div class="profileHeader">
    <div class="header-content">
        <h1 class="title text-center"><strong>Your Profile</strong></h1><hr/>
    </div>
</div>
<div class="container">
    <div class="container-fluid profile-container">
        <h4 class="tall-text">Name: {{user}}</h4>
        <h4 class="tall-text">Decks: {{decks.length}}</h4>
    </div>
</div><br/>
<div class="container deck-content">
    <div class="container-fluid cardContainer">
        <h3 class="tall-text text-center">Decks</h3>
        <div class="col-md-3 card"  ng-repeat="deck in decks">
            <h2 class="card-title activator text-center grey-text text-darken-4">
                {{deck.name}}</h2>
            <hr/>
            <i class="activator icon-ellipsis-vertical"></i>
                <p class="text-center">{{deck.format}}</p>
                <p class="text-center"><img ng-repeat="color in deck.colors track by $index" class="searchImg colorIcons" ng-src="./img/{{color}}Icon.png" /></p>
            <div class="card-reveal">
                <span class="card-title reveal-text">Description<i class="material-icons right">close</i></span>
                <p>{{deck.description}}<i class="icon-remove"></i></p>
                <div class="social edit-wrapper">
                    <a href="" ng-click="delete(deck._id, $index)" class="edit-icon delete deleteButton animate"><i class="fa fa-trash fa-lg"></i></a>
                    <a href="#/deckbuilder/edit/id={{deck._id}}" class="edit-icon edit animate"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>