<div>
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="">MTG Card App</a>
        <ul class="nav navmenu-nav">
            <li><a href="#/profile">Your Profile</a></li>
            <li><a href="#/card">Card Search</a></li>
            <li><a href="#/deck">Deck Builder</a></li>
            <li><a ng-controller="logoutController" href="" ng-click="logout()">Log Out</a></li>
        </ul>
    </nav>
    <div class="burgerWrapper">
        <button type="button" class="hamburger" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            &#9776
        </button>
    </div>
</div>
<div class="profileHeader">
    <div class="header-content">
        <h1 class="titleText title text-center">Your Profile</h1><hr/>
    </div>
</div>
<div class="container deck-content">
    <div class="container">
        <div class="stylish-panel">
            <div class="col-md-4"  ng-repeat="deck in $ctrl.decks">
                <div class="deck-container">
                    <img class="deckImg" src="./img/EMN.png" />
                    <h3 class="deck-title">{{deck.name}}</h3><hr />
                    <p>{{deck.format}}</p>
                    <p>{{deck.colors}}</p>
                </div>
            </div>
        </div>
    </div>
</div>