<div ng-show="isLoggedInAyy">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="">MTG Card App</a>
        <ul class="nav navmenu-nav">
            <li><a href="#/card">Card Search</a></li>
            <li><a href="#/deckbuilder">Deck Builder</a></li>
            <li><a ng-controller="logoutController" href="" ng-click="logout()">Log Out</a></li>
        </ul>
    </nav>
    <div class="burgerWrapper">
        <button type="button" class="hamburger" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            &#9776
        </button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="title"><strong>MTG Card Search</strong></h1>
            <br />
            <div class="input-group">
                <input type="text" ng-model="cardName" placeholder="Card name" class="form-control" />
                <span class="input-group-btn">
                  <button ng-click="$ctrl.search(cardName)" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="placeholder">
        <div class="col-md-4 cardStats">
            <div id="imgResult">
                <img id="searchImg" class="searchImg hidden" ng-src="{{$ctrl.cardList[0].imageUrl}}" />
            </div>
            <div class="results">
            </div>
        </div>
        <div class="col-lg-8 priceStats">
            <div class="canvasWrapper"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div id="setTitle" class="hidden setsWrapper">
                <h4><strong>Sets</strong></h4>
                <ul>
                    <li class="setButtons" ng-repeat="card in $ctrl.cardList">
                        <input type="button" id="btn{{$index}}" class="btn btn-default setbtn" ng-click="$ctrl.update(card.set)" value={{card.set}} />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
