<header class="page-header">
    <div class="header-content">
        <h1 class="mainTitle title text-center">Card Constructor</h1>
        <p class="small">An application for building Magic: The Gathering decks</p>
        <a href="#/register" class="btn btn-lg alt">GET STARTED</a>
    </div>
</header>
<div class="col-lg-12">
    <div class="mainContainer">
        <div class="row row1">
            <h4 class="titleText text-center">Search For Cards</h4>
                <p class="text-center">Search for a certain card and find relevant pricing data for your deck. You can also view
                all the set releases for each card.</p>
                <img class="fullImg imgBorder" src="./img/cardprice.png" />
        </div>
        <div class="row row2">
            <h4 class="titleText text-center">View Statistics</h4>
            <p class="text-center">Build your own deck and view the generated statistics of your deck, such as Mana Curve, Type Breakdown and Color Breakdown.</p>
            <img class="fullImg imgBorder" src="./img/horizontalstats.png" /><br/>
        </div>
        <div class="row row3">
            <p>hi mom</p>
        </div>
        <div class="row row4">
            <footer>
                <p class="text-center">Thanks for visiting! You can reach me via the buttons below.</p>
                <div class="social text-center">
                    <a href="https://github.com/KevinElberger" class="social-icon github animate"><span class="fa fa-github-alt"></span></a>
                    <a href="https://www.facebook.com/kevin.elberger" class="social-icon facebook animate"><span class="fa fa-facebook"></span></a>
                </div>
                <p class="text-center small-text">Copyright &copy; 2016 Kevin Elberger All Rights Reserved</p>
            </footer>
        </div>
    </div>
</div>
