<header class="login-header">
  <div class="container header-content">
    <div class="loginWrapper col-lg-12">
      <div class="loginForm col-md-6">
        <h1 class="title text-center register-text">Login</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
          <div class="form-group">
            <label class="register-text register-label">Username</label>
            <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
          </div>
          <div class="form-group">
            <label class="register-text register-label">Password</label>
              <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
            <div>
              <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
              <p class="inlineRight register-text">Not a member? <a class="register-url" href="#/register">Register</a></p>
            </div>
        </form>
      </div>
    </div>
  </div>
</header>
<div background></div>