<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MTG Card App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.module.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/components/card-search/card-search.module.js"></script>
  <script src="/components/card-search/card-search.component.js"></script>
</head>
<body ng-app="mtgCardApp">

  <card-search></card-search>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
</body>
</html>