<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="title"><strong>MTG Card Search</strong></h1>
            <br />
            <div class="input-group">
                <input type="text" ng-model="cardName" placeholder="Card name" class="form-control" />
                <span class="input-group-btn">
                  <button ng-click="$ctrl.search(cardName)" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="placeholder">
        <div class="col-md-4 cardStats">
            <div id="imgResult">
                <img id="searchImg" class="searchImg hidden" ng-src="{{$ctrl.cardList[0].imageUrl}}" />
            </div>
            <div class="results">
            </div>
        </div>
        <div class="col-lg-8 priceStats">
            <div class="canvasWrapper"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4><strong>Sets</strong></h4>
            <div class="setsWrapper">
                <ul>
                    <li class="setButtons" ng-repeat="card in $ctrl.cardList">
                        <input type="button" id="btn{{$index}}" class="btn btn-default setbtn" ng-click="$ctrl.update(card.set)" value={{card.set}} />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
