<div class="container">
    <div class="progress {{$ctrl.hideBar}}">
        <div class="progress-bar progress-bar-striped active {{$ctrl.hideBar}}" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="{{bar}}">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="title"><strong>MTG Card Search</strong></h1>
            <br />
            <div class="input-group">
                <input type="text" ng-model="cardName" placeholder="Card name" class="form-control" />
                <span class="input-group-btn">
                  <button ng-click="$ctrl.search(cardName)" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class="results {{$ctrl.well}} {{$ctrl.hidden}}">
        <img class="searchImg" ng-src="{{$ctrl.cardList[0].imageUrl}}" /><hr />
        <div class="resultText well">
            <p><strong>Name:</strong> {{$ctrl.cardList[0].name}} </p>
            <p><strong>Artist:</strong> {{$ctrl.cardList[0].artist}} </p>
            <p><strong>Rarity:</strong> {{$ctrl.cardList[0].rarity}}</p>
            <p><strong>P/T: </strong> {{$ctrl.cardList[0].power}} / {{cardList[0].toughness}}</p>
            <p><strong>Card Text:</strong> {{$ctrl.cardList[0].text}}</p>
            <p><strong>Flavor:</strong><em> {{$ctrl.cardList[0].flavor}}</em></p>
        </div>
    </div>
</div>
