<div>
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="">MTG Card App</a>
        <ul class="nav navmenu-nav">
            <li><a href="#/profile">Your Profile</a></li>
            <li><a href="#/card">Card Search</a></li>
            <li><a href="#/deck">Deck Builder</a></li>
            <li><a ng-controller="logoutController" href="" ng-click="logout()">Log Out</a></li>
        </ul>
    </nav>
    <div class="burgerWrapper">
        <button type="button" class="hamburger" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            &#9776
        </button>
    </div>
</div>

<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="title"><strong>Build Your Deck</strong></h1>
        </div>
    </div>
</div>
    <div class="col-md-2">

            <h3 class="text-center"><strong>Deck Info</strong></h3><br/>
            <fieldset class="form-group">
                <label>CARD NAME</label>
                <div class="input-group">
                    <input type="text" class="form-control cName" ng-model="cardName" placeholder="Name" />
                    <span class="input-group-btn">
                        <button ng-click="$ctrl.addCard(cardName)" id="addCard" class="btn btn-success">Add Card</button>
                    </span>
                </div>
            </fieldset>
        <form name="deckform" class="form deckbuilder" method="post">
            <fieldset class="form-group">
                <label>DECK NAME</label>
                <input type="text" class="form-control" placeholder="Deck Name" ng-model="form.name" ng-required="true"/>
            </fieldset>

            <fieldset class="form-group">
                <label for="deckFormat">FORMAT</label>
                <select id="deckFormat" class="form-control" ng-model="form.format" ng-required>
                    <option selected>Standard</option>
                    <option value="Legacy">Legacy</option>
                    <option value="Mtgo">MTGO</option>
                    <option value="Vintage">Vintage</option>
                    <option value="Commander/Edh">Commander / EDH</option>
                    <option value="Archenemy">Archenemy</option>
                    <option value="Planechase">Planechase</option>
                    <option value="Vanguard">Vanguard</option>
                    <option value="Modern">Modern</option>
                    <option value="Pauper">Pauper</option>
                    <option value="Casual">Casual</option>
                    <option value="Limited">Limited</option>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <br/>
                <label for="notes">DECK DESCRIPTION</label>
                <textarea ng-model="form.description" class="form-control" id="notes" rows="8"></textarea>
                <br/>
            </fieldset>
            <button type="submit" id="saveDeck" class="btn btn-success" ng-click="deckform.$valid && createDeck()">Save Deck</button>
        </form>
    </div>
    <div class="col-md-6 deckContainerWrapper">
        <div class="deckContainer">
            <div id="deck" class="deck">
                <h5 class="text-center">Mainboard</h5>
                <img class="cardBody cardImg" ng-repeat="card in $ctrl.cardStats track by $index" ng-src="{{card.imageUrl}}"
                     ng-right-click="$ctrl.removeCard($index, false)" ng-click="$ctrl.addSideboard(card, $index)" /><br />
            </div>
        </div>
    </div>
    <div class="col-md-2 sideboard">
            <h5 class="text-center sideboard-text">Sideboard</h5>
        <img class="sideboardCardBody" ng-repeat="card in $ctrl.sideboard track by $index" ng-src="{{card.imageUrl}}"
             ng-right-click="$ctrl.removeCard($index, true)" ng-click="$ctrl.addMainboard(card.name, $index)" /><br />
    </div>
    <div class="col-md-2">
        <div class="statisticsWrapper hidden" id="statisticsWrapper">
            <h3><strong>Statistics</strong></h3><br/>
            <div class="canvasWrapper"></div>
        </div>
    </div>
</div>