@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html, body {
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    line-height: 1.5;
    color: #555;
}

h1,
h2,
strong {
    color: #333;
}

textarea {
    resize: none;
}

header {
    margin-top: 0 !important;
    padding-top: 5px;
}

#buttonArea {
    padding-left: 0;
}

.btn {
    border-radius: 0;
}

.title {
    font-size: 4em;
}

.hero {
    background: #ffffff;
    height: 100%;
}

.input-group {
    width: 35%;
    margin: 0 auto;
}

.navbar-toggle .icon-lol {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
}

.lead {
    color: #ffffff;
}

.results {
    text-align: left;
}

.resultText {
    background-color: #1c1c1c;
    color: white;
    text-align: left;
    opacity: 1;
}

.cardImage {
    padding-left: 3em;
}

.cName {
    width: 90%;
}

.well {
    width: 55%;
    margin: 0 auto;
    opacity: .8;
}

.deckbuilder {
    opacity: .9;
}

.dropdown-toggle {
    width: 100%;
}

.hamburger {
    background: none;
    position: absolute;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    top: 0;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

.input-group {
    width: 100%;
}

.logo {
    zoom: 8%;
    -moz-transform: scale(.08);
    position: relative;
}

.main {
    padding-left: 3em;
}

.panel-heading {
    text-align: center;
}

.deck {
    min-height: 10em;
    background-color: #F7F7F7;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.green {
    background: #4cbe83;
}

.cardImg {
    position: relative;
    left: 3.2%;
}

.form-control:focus {
    border-color: #4cbe83;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.statsButton {
    text-align: center;
}

.statisticsWrapper {
    text-align: center;
}

.canvasWrapper {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.btn-success {
    background-color: #4cbe83;
    border-color: #4cbe83;
}

.btn-success:hover {
    background-color: #3da971;
    border-color: #3da971;
}

.btn-success:active {
    background-color: #3da971;
    border-color: #3da971;
}

.searchImg {
    zoom: 100%;
}

.placeholder {
    padding-top: 4em;
    margin: 0 auto;
    text-align: center;
}

.sets {
    text-align: center;
}

.cardStats, .priceStats {
    margin: 0 auto;
    display: inline-block;
}

.setButtons {
    display: inline-block;
}

.setbtn:hover, .setbtn:active {
    background-color: #4cbe83;
    border-color: #3da971;
    color: #ffffff;
}

.selected, .selected:hover, .selected:active {
    background: #4cbe83;
    border-color: #3da971;
    color: #ffffff;
}

.firstRow {
    margin: 0 auto;
}

.radio {
    display: inline;
}

.radioWrapper {
    margin: 0 auto;
    text-align: center;
}

img {
    zoom: 60%;
}

.deck {
    height: 850px;
    overflow: scroll;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
    border-radius: 0;
}

.deckContainer {
    margin-left: 1em;
    margin-right: 1em;
}

.cardImg:hover {
    z-index: 9999;
}

.cardBody {
    position: relative;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: -150px;
    margin-bottom: 2em;
}

.deck-title {
    width: 30%;
    font-weight: 200;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
}

.blackText {
    color: #1c1c1c;
}

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullImg {
    zoom: 100%;
    display: block;
    margin: 0 auto;
}

.colorIcons {
    zoom: 100%;
    display: inline;
    margin: 0 auto;
}

.titleText {
    font-weight: 200;
    font-size: 30px;
    line-height: 1.1;
}

.mainContainer {
    position: relative;
}

.page-header {
    background-image: url('../img/header2.jpg');
    padding-left: 0;
    padding-right: 0;
    background-size: cover;
    width: 100%;
    height: 80%;
    position: relative;
}

.profileHeader {
    width: 100%;
    height: 15%;
    padding-left: 0;
    padding-right: 0;
}

.page-header img {
    width: 100%;
    top: 0;
}

.mainTitle {
    font-size: 6em;
    font-weight: 300;
    line-height: 1.1;
    left: 50%;
}

.mainTitle, .small {
    color: #f5f7f9;
}

.header-content {
    position: relative;
    height: 50%;
    width: 50%;
    bottom: -30%;
    margin: 0 auto;
    text-align: center;

}

.alt {
    background-color: Transparent;
    margin: 0 auto;
    border: 1px solid;
}

.alt:hover, .alt:active, .alt:visited {
    color: #4cacff;
}

.row1 {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;

}

.row2 {
    background: #303b43;
    color: #f5f7f9;
    margin-bottom: 20px;
}

.stylish-panel {
    padding: 20px;
    text-align: center;
}

.stylish-panel > div > div{
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: .5s;
}

.stylish-panel > div:hover > div{
    border: 1px solid rgb(200, 200, 200);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px 2px;
    background: rgba(48, 59, 67, 1);
    transition: 0.5s;
}

.stylish-panel > div > div > img {
    border-radius: 40%;
}

.inlineLeft {
    float: left;
    padding-left: 10px;
    display: inline;
}

.imgBorder {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.inline {
    display: inline-block;
    width: 100%;
}

.deck-content {
    /*background: #ffffff;*/
    /*padding: 6px;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.deck-container {
    margin: 4px;
}

/*
*   Animation
*
*/

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social a {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 40px;
}

a.social-icon {
    text-decoration: none !important;
    box-shadow: 0 0 1px rgb(51, 51, 51);
    box-shadow: 0 0 1px rgba(51, 51, 51, 0.7);
}

a.social-icon:hover {
    color: rgb(255, 255, 255) !important;
}

a.github {
    color: rgb(51, 51, 51) !important;
}
a.github:hover {
    background-color: rgb(51, 51, 51) !important;
}

/* Edit buttons */

.edit a {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
}

a.edit-icon {

    text-decoration: none !important;
    box-shadow: 0 0 1px rgb(51, 51, 51);
    box-shadow: 0 0 1px rgba(51, 51, 51, 0.7);
}

a.delete, a.edit {
    color: #64727c;
}

a.delete:hover {
    color: #c9302c !important;
}

a.edit:hover {
    color: #4cbe83 !important;
}

.edit-wrapper {
   text-align: center;
}

.delete, .edit {
    margin: 0 auto;
}


/* Cards */

.card {
    position: relative;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.card .card-title.activator {
    cursor: pointer;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card .card-reveal {
    background-color: #303b43 !important;
    color: #e6e6e6;
    padding: 20px;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    left: 0;
    height: 100%;
    z-index: 3;
    display: none;
}

.card .card-reveal::-webkit-scrollbar {
    display: none;
}

.col-md-3 {
    margin: 0.5rem;
    width: 24%;
}
.container-fluid {
}

.cardContainer {
    background: #e6e6e6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

i {
    line-height: inherit;
    font-style: italic;
    cursor: pointer;
}

i.right {
    margin-left: 15px;
}

.right {
    float: right !important;
}

.reveal-text {
    color: #e6e6e6;
    cursor: pointer;
}