<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="title"><strong>MTG Deck Builder</strong></h1>
            <br />

            <form class="form well deckbuilder">
                <h2><strong>Build a Deck</strong></h2>
                <div class="row">
                    <div class="col-lg-4 nameField">
                        <fieldset class="form-group">
                            <label>Card name</label>
                            <div class="input-group">
                                <input style="width: 160px;" type="text" class="form-control cName" ng-model="cardName" placeholder="Name" />
                                <span class="input-group-btn">
                                    <button ng-click="$ctrl.search(cardName)" class="btn btn-default">Search</button>
                                </span>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="cardQuantity">Quantity</label>
                            <input ng-model="quantity" type="number" class="form-control" id="cardQuantity" min="1">
                        </fieldset>

                        <fieldset>
                            <label for="deckFormat">Format</label>
                            <select id="deckFormat" class="form-control" ng-model="deckFormat">
                                <option selected>Standard</option>
                                <option value="Legacy">Legacy</option>
                                <option value="Mtgo">MTGO</option>
                                <option value="Vintage">Vintage</option>
                                <option value="Commander/Edh">Commander / EDH</option>
                                <option value="Archenemy">Archenemy</option>
                                <option value="Planechase">Planechase</option>
                                <option value="Vanguard">Vanguard</option>
                                <option value="Modern">Modern</option>
                                <option value="Pauper">Pauper</option>
                                <option value="Casual">Casual</option>
                                <option value="Limited">Limited</option>
                            </select>
                        </fieldset>

                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="board" id="mainboard" value="mainboard" ng-model="board" ng-value="true" checked>
                                Mainboard
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="board" id="sideboard" value="Sideboard" ng-model="board" ng-value="false">
                                Sideboard
                            </label>
                        </div>
                        <div id="buttonArea">
                            <button ng-click="$ctrl.deck.addCard()" id="addCard" class="btn btn-success">Add Card</button>
                            <button ng-click="$ctrl.deck.saveDeck()" id="saveDeck" class="btn btn-primary">Save Deck</button><br/>
                        </div>

                        <div class="{{$ctrl.hidden}}">
                            <br/>
                            <img ng-src="{{$ctrl.cardList[$ctrl.cardList.length - 1].imageUrl}}" />
                        </div>
                    </div>

                    <div class="col-lg-8 main">
                        <fieldset class="form-group">
                            <label for="mainboardNotes">Mainboard</label>
                            <textarea disabled class="form-control" id="mainboardNotes" rows="6">{{$ctrl.mainBoard}}</textarea>
                            <br/>
                            <label for="sideboardNotes">Sideboard</label>
                            <textarea disabled class="form-control" id="sideboardNotes" rows="6">{{$ctrl.sideBoard}}</textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="notes">Notes</label>
                            <textarea ng-model="notes" class="form-control" id="notes" rows="8"></textarea>
                            <br/>
                        </fieldset>
                    </div>
                    <button ng-click="$ctrl.deck.stats()" class="btn btn-info" data-toggle="modal" data-target="#cardModal">Stats</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="cardModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Deck Stats</h3>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Mana Curve</h3></div>
                            <div class="panel-body">
                                <canvas id="bar" class="chart chart-bar"
                                        chart-data="data" chart-labels="labels" chart-series="series"></canvas>
                            </div>
                        <h4><strong>Number of cards in deck:</strong> {{$ctrl.cardCount}}</h4>
                        <h4><strong>Average mana cost:</strong> {{$ctrl.average}}</h4>
                    </div>
                    <button class="btn btn-primary">Random Hand</button>
                    <hr/>
                    <div id="randomHand"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>